#theme-switcher {
    bottom: 0;
    position: absolute;
    background-color: #999;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #222;
    text-decoration: none;
    color: black;
}


.box {
    border-radius: 20px;
}

h1 img {
    border-radius: 5px;
}

.selected {
    text-decoration: underline;
    color: black;
}