#theme-switcher {
    bottom: 0!important;
    position: absolute!important;
    background-color: #222!important;
    border-radius: 5px!important;
    padding: 5px!important;
    margin: 5px!important;
    border: none!important;
    text-decoration: none!important;
    color: white!important;
}

html, body {
    background-color: #42414d!important;
}

.login-header {
    background-color: #1c1b22!important;
    color: white!important;
}

.login-header h2 {
    color: white !important;
}

form {
    background-color: #2b2a33 !important;
    color: white !important;
}

#login {
    background-color: #2b2a33 !important;
    color: white !important;
}

p, li, span, h1, h2, h3, h4, h5, h6, label {
    color: white !important;
}

.btn-submit {
    transition: all .3s ease-in-out;
}

#login input[type="text"], #login input[type="password"] {
    background-color: #42414d !important;
    border-radius: 5px;
    color: white !important;
    border: transparent;
}

.btn-submit:hover {
    background-color: #429c7d !important;
}