#theme-switcher {
    bottom: 0 !important;
    position: absolute !important;
    background-color: rgb(172, 172, 172) !important;
    border-radius: 5px !important;
    padding: 5px !important;
    margin: 5px !important;
    border: 1px solid #222 !important;
    text-decoration: none !important;
    color: white !important;
}

#login input[type="text"], #login input[type="password"] {
    border-radius: 5px;
    border: transparent;
}
