#theme-switcher {
    bottom: 0;
    position: absolute;
    background-color: #222;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border: none;
    text-decoration: none;
    color: white;
}

header, footer {
    background-color: #2b2a33 !important;
}

header > .navbar {
    background-color: #2b2a33 !important;
    color: #fff;
}

footer {
    bottom: 0;
    position: absolute;
    height: 100%;
}

html, body {
    background-color: #42414d !important;
}

.card-body {
    background-color: #1c1b22 !important;
}

.card-header {
    background-color: #2b2a33 !important;
    color: white;
}

p, li, span, h1, h2, h3, h4, h5, h6, label {
    color: white !important;
}

input {
    background-color: #2b2a33 !important;
    color: white !important;
    border: transparent;
}